<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>3655845413-bllm45eajdkt801jogbio3pfpsv2ju34.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.3655845413-bllm45eajdkt801jogbio3pfpsv2ju34</string>
	<key>API_KEY</key>
	<string>AIzaSyDK1VM2uAIYAbCoL6OMdGKiRwdBMwyZQSE</string>
	<key>GCM_SENDER_ID</key>
	<string>3655845413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medlog</string>
	<key>PROJECT_ID</key>
	<string>medlog-353e6</string>
	<key>STORAGE_BUCKET</key>
	<string>medlog-353e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3655845413:ios:020c9fb6b50b86a52361cc</string>
</dict>
</plist>